<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite">
  <!-- <p>My favorite people are: {{ favoritePeople }}</p> -->
    <app-favorite-people
      [favoritePeople]="favoritePeople"
    />
</div>
<div class="people">
  <!-- Add your people component here -->
    <app-people
      [people]="people"
      [favoritePeople]="favoritePeople"
      (favoriteHandler)="setFavorite($event)"
      />
</div>
